In [1]:
import pandas as pd

In [10]:
#Read csv into a dataframe
vine_df = pd. read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R35T75OLUGHL5C,4.0,0.0,0.0,N,Y
1,R2BV735O46BN33,5.0,0.0,0.0,N,Y
2,R2NBEUGPQQGXP1,4.0,0.0,0.0,N,Y
3,R17LLAOJ8ITK0S,3.0,1.0,1.0,N,Y
4,R39PEQBT5ISEF4,1.0,0.0,0.0,N,Y

In [16]:
#Filter the dataframe for rows where total_votes is equal to or greater than 20
total_votes_filter_df = vine_df[vine_df["total_votes"] >= 20]
total_votes_filter_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y
...,...,...,...,...,...,...
2302395,R3MS5E3IRFK9MN,1.0,6.0,45.0,N,N
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N

In [15]:
#Filter the dataframe to create a new dataframe where the number of helpful_votes divided by the total_votes is equal to or greater than 50%
greater_than_50_df = total_votes_filter_df[total_votes_filter_df["helpful_votes"] / total_votes_filter_df["total_votes"] >= 0.5]
greater_than_50_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y
...,...,...,...,...,...,...
2302394,R1V5B0I8WCU88G,5.0,327.0,339.0,N,N
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N

In [17]:
#Filter the dataframe and create a new dataframe that retrieves all the rows where a review was written as part of the vine program
vine_reviews_df = greater_than_50_df[greater_than_50_df["vine"] == "Y"]
vine_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
30395,R3KPC0NBUDASX3,5.0,25.0,25.0,Y,N
206171,R119P2A95GGXX4,5.0,26.0,28.0,Y,N
222172,R1HKIRME8AJ89Z,5.0,79.0,82.0,Y,N
281437,R3FY3GMBGOBR22,5.0,12.0,20.0,Y,N
287862,R15KH3FBSVYGBU,5.0,32.0,37.0,Y,N
...,...,...,...,...,...,...
2224140,R2S53VJNNBFALC,4.0,38.0,40.0,Y,N
2225611,R1WK162P6URAST,3.0,16.0,28.0,Y,N
2228972,R2YE59X5KUPARP,5.0,44.0,45.0,Y,N
2232328,RU38RYOL77OVU,4.0,46.0,49.0,Y,N
2232911,R1V6AIVQ232LYH,4.0,57.0,59.0,Y,N

In [18]:
#Reviews that are not part of the vine program
unpaid_reviews_df = greater_than_50_df[greater_than_50_df["vine"] == "N"]
unpaid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y
...,...,...,...,...,...,...
2302394,R1V5B0I8WCU88G,5.0,327.0,339.0,N,N
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N

In [26]:
#Total Number of reviews
paid_reviews_total = len(vine_reviews_df)
unpaid_reviews_total = len(unpaid_reviews_df)

#Number of 5-star reviews
paid_5star_reviews = len(vine_reviews_df[vine_reviews_df["star_rating"] == 5.0])
unpaid_5star_reviews = len(unpaid_reviews_df[unpaid_reviews_df["star_rating"] == 5.0])

#Percentage of 5-star reviews for paid vs unpaid
paid_percentage = (paid_5star_reviews/paid_reviews_total)*100
print(paid_percentage)
unpaid_percentage = (unpaid_5star_reviews/unpaid_reviews_total)*100
print(unpaid_percentage)

52.336448598130836
52.68504351751988